$textbackground: #EEE;
$textcolour: #444;
$darktextbackground: #333;
$darktextcolour: #DDD;

$headerheight: 7vh;

$margin: 15%;
$cornerradius: 15px;

$hamburgersize: $headerheight / 2;

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    color: $textcolour;
    font-family: sans-serif;
}

#header {
    position: fixed;
    height: $headerheight;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 127; // make sure the hamburger menu is on top

    background-color: $textbackground;

    transition: height 0.3s ease;

    .navbar {
        display: flex;
        align-items: center;
        justify-content: center;

        list-style: none;

        .navbaritem {
            margin: 1.25em 1.5em;

            font-size: 1.25rem;
        }
    }

    #hamburger {
        display: none;

        font-size: $hamburgersize * 2 / 3;
        background-color: #FFF;
        &:hover {
            background-color: #F8F8F8;
        }
        border: 2px solid #DDD;
        border-radius: 10px;
        height: $hamburgersize;
        width: $hamburgersize;

        align-self: flex-start;
        position: absolute;
        right: 0;
        margin: ($headerheight - $hamburgersize) / 2;
    }

    @media screen and (max-width: 100vh) { // if the width is smaller than the height
        .navbar {
            flex-direction: column;
            display: none;
        }

        .show {
            display: flex;
        }

        #hamburger {
            display: initial;
        }
    }
}

.scroller {
    max-height: 100vh - $headerheight;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

    position: fixed;
    top: $headerheight;

    .page {
        height: 100vh - $headerheight;
        width: 100vw;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        scroll-snap-align: start;

        %box {
            max-height: 100% - $margin;
            max-width: (100% - $margin) / 2;
            width: 100%;
            margin: $margin / 2 $margin / 4;
        }

        .textbox {
            @extend %box;

            border-radius: $cornerradius;

            font-size: 1.25rem;
            line-height: 1.8;

            padding: 2em;

            background-color: $textbackground;
        }

        .box {
            @extend %box;

            height: 100%;

            display: flex;
            align-items: center;
            justify-content: center;

            img {
                max-height: 100%;
                max-width: 100%;

                border-radius: $cornerradius;
            }
        }
    }

    @media screen and (max-width: 100vh) { // if the width is smaller than the height
        .page {
            flex-direction: column;

            %box {
                max-height: 100%;
                max-width: 100% - $margin;
                margin: $margin / 4 $margin / 2;
            }

            .box {
                height: unset;
            }
        }
    }
}

@media screen and (prefers-color-scheme: dark) {
    * {
        color: $darktextcolour;
    }

    #header {
        background-color: $darktextbackground;

        #hamburger {
            background-color: #222;
            &:hover {
                background-color: #282828;
            }
            border: 2px solid #444;
        }
    }

    .scroller .page .textbox {
        background-color: $darktextbackground;
    }
}
