$headerheight: 7vh;

$margin: 15%;
$cornerradius: 15px;

$buttonsize: 4.5vh;

:root {
    --background-colour: #EEE;
    --font-colour: #444;
}

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    color: var(--font-colour);
    font-family: sans-serif;
}

#header {
    position: fixed;
    height: $headerheight;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 127; // make sure the hamburger menu is on top

    background-color: var(--background-colour);

    transition: height 0.3s ease;

    .logo {
        align-self: flex-start;
        position: absolute;
        left: 0;
        margin: calc(($headerheight - 64px) / 2);
    }

    %button {
        --background-colour: #FFF;
        --hover-colour: #E8E8E8;
        --border-colour: #DDD;

        background-color: var(--background-colour);
        &:hover {
            background-color: var(--hover-colour);
        }
        border: 2px solid var(--border-colour);
        border-radius: 10px;
        height: $buttonsize;
        margin: ($headerheight - $buttonsize) / 2;
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: center;

        list-style: none;

        .navbaritem {
            margin: 1em 1.5em;

            font-size: 1.25rem;

            a {
                @extend %button;

                padding: 0.5em;

                text-decoration: none;
            }
        }
    }

    #hamburger {
        @extend %button;

        display: none;

        aspect-ratio: 1;

        font-size: $buttonsize * 2 / 3;

        cursor: pointer;

        align-self: flex-start;
        position: absolute;
        right: 0;
    }

    @media screen and (max-width: 100vh) { // if the width is smaller than the height
        .navbar {
            flex-direction: column;
            display: none;
        }

        .show {
            display: flex;
        }

        #hamburger {
            display: initial;
        }
    }
}

.scroller {
    // so that the page isn't behind the navbar
    max-height: 100vh - $headerheight;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

    position: fixed;
    top: $headerheight;

    .page {
        height: 100vh - $headerheight;
        width: 100vw;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        scroll-snap-align: start;

        %box {
            max-height: 100% - $margin;
            max-width: (100% - $margin) / 2;
            width: 100%;
            margin: $margin / 2 $margin / 4;
        }

        .textbox {
            @extend %box;

            border-radius: $cornerradius;

            font-size: 1.25rem;
            line-height: 1.8;

            padding: 2em;

            background-color: var(--background-colour);

            .icon-footer {
                display: flex;
                align-items: center;
                flex-wrap: nowrap;

                max-width: 90%;
                margin-top: 5%;

                .social-icon {
                    width: 6.25vh;
                    margin-left: 2.5%;
                    margin-right: 2.5%;
                }
            }
        }

        .box {
            @extend %box;

            height: 100%;

            display: flex;
            align-items: center;
            justify-content: center;

            img {
                max-height: 100%;
                max-width: 100%;

                border-radius: $cornerradius;
            }
        }
    }

    @media screen and (max-width: 100vh) { // if the width is smaller than the height
        // put boxes on top of each other
        .page {
            flex-direction: column;

            %box {
                max-height: 100%;
                max-width: 100% - $margin;
                margin: $margin / 4 $margin / 2;
            }

            .box {
                max-height: (100% - $margin) / 2;
                height: unset;
            }
        }
    }
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --background-colour: #333;
        --font-colour: #DDD;
    }

    #header %button {
        --background-colour: #222;
        --hover-colour: #383838;
        --border-colour: #444;
    }

    .social-icon img {
        // real funky stuff, see: https://codepen.io/sosuke/pen/Pjoqqp
        // equates to #DDD
        filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(7495%) hue-rotate(214deg) brightness(116%) contrast(73%);
    }
}
