$textbackground: #FFF;
$textcolour: #444;
$darktextbackground: #333;
$darktextcolour: #DDD;

$headerheight: 7vh;

$margin: 15%;

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    color: $textcolour;
}

body {
    font-family: sans-serif;
}

#header {
    position: fixed;
    height: $headerheight;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $textbackground;

    .navbar {
        display: flex;
        align-items: center;
        justify-content: center;

        .navbaritem {
            margin-left: 1.5em;
            margin-right: 1.5em;
        }
    }
}

.scroller {
    max-height: 100vh - $headerheight;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

    position: fixed;
    top: $headerheight;

    .page {
        height: 100vh - $headerheight;
        width: 100vw;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        scroll-snap-align: start;

        %box {
            max-height: 100% - $margin;
            max-width: (100% - $margin) / 2;
            width: 100%;
            margin: $margin / 2 $margin / 4;
        }

        .textbox {
            @extend %box;

            border-radius: 15px;

            line-height: 1.8;

            padding: 2em;

            background-color: $textbackground;
        }

        .box {
            @extend %box;

            height: 100%;

            display: flex;
            align-items: center;
            justify-content: center;

            img {
                max-height: 100%;
                max-width: 100%;

                border-radius: 15px;
            }
        }
    }

    @media (max-width: 100vh) { // if the width is smaller than the height
        .page {
            flex-direction: column;

            %box {
                max-height: 100%;
                max-width: 100% - $margin;
                margin: $margin / 4 $margin / 2;
            }
        }
    }
}

@media (prefers-color-scheme: dark) {
    * {
        color: $darktextcolour;
    }

    #header {
        background-color: $darktextbackground;
    }

    .scroller .page .textbox {
        background-color: $darktextbackground;
    }
}
